// L I G H T

$light-color: white;
$light-bg: rgb(239, 239, 239);
$light-primary: lightgrey;
$light-button-color: rgb(151, 138, 233);
$light-button-color-active: rgb(120, 106, 212);
$light-gap-color: rgb(74, 117, 117);
$light-display-background: darkslategrey;

$button-grey-light: rgb(176, 176, 176);
$button-grey-medium: rgb(140, 140, 140);
$button-grey-dark: rgb(112, 112, 112);



// D A R K

$dark-color: white;
$dark-bg: slategrey;
$dark-display-background: darkslategrey;
