@use '../index.scss' as *;

.display {
	height: 22%;
	text-align: right;
	padding: 8px 12px;
}

#light .display {
	background-color: $light-display-background;
	color: white;
}

#dark .display {
	background-color: $dark-display-background;
	color: white;
}

.currentTotal {
	height: 1rem;
	font-size: 1rem;
	line-height: 1rem;
	padding-right: 3px;
}

.result {
	height: 3.5rem;
	font-size: 3.5rem;
	font-weight: 200;
	line-height: 3.5rem;
}
